<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/hoppies.css">
  </head>
  <body>
    <div class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="special-heading">Here we go again</h2>
        <div class="portfolio-content">
          <div class="card">
            <img src="https://i.pinimg.com/564x/c3/4a/ed/c34aedca4f6e989ecd7256afda14b2b7.jpg" alt="" />
            <div class="info">
              <h3>Power On</h3>
              <p>The Story of Xbox. Find out why in this behind-the-scenes, six-part series that takes you back to the scrappy beginnings of Microsoft's video game console</p>
            </div>
          </div>
          <div class="card">
            <img src="https://i.pinimg.com/564x/36/53/23/365323f0184d7b5cac7aec344eeb4aa0.jpg" alt="" />
            <div class="info">
              <h3>Power On</h3>
              <p>The Story of Xbox. Find out why in this behind-the-scenes, six-part series that takes you back to the scrappy beginnings of Microsoft's video game console</p>
            </div>
          </div>
          <div class="card">
            <img src="https://i.pinimg.com/564x/c4/23/2d/c4232d536b0546ecb253272b5c66048d.jpg" alt="" />
            <div class="info">
              <h3>Power On</h3>
              <p>The Story of Xbox. Find out why in this behind-the-scenes, six-part series that takes you back to the scrappy beginnings of Microsoft's video game console</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>